<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

    <script src=".././app/app.module.js"></script>
    <script src=".././app/compontents/todo/todo.post.js"></script>
    <script src=".././app/compontents/todo/todo.display.js"></script>


    <meta charset="utf-8" />
    <title>ToDo Node App Testing</title>
</head>
<body ng-app="todo-main">
    <h1>ToDo Node</h1><br/>

    <div ng-controller="todo-display">
        I have {{ToDo.length}} items ToDo. They are:
        <input type="search" ng-model="q" placeholder="filter friends..." aria-label="filter friends" />
        <ul class="example-animate-container">
            <li class="animate-repeat" ng-repeat="td in ToDo  | filter:q as results" >
                [{{$index + 1}}] {{td.Description}} scheduled for {{td.Date | date:'MM/dd/yyyy'}} Complete = {{td.Complete || 'false'}} <a href="" name="{{td._id}}" ng-click='Edit(td._id)'>Edit</a> ~ <a href="" name="{{td._id}}" ng-click='Delete(td._id)'>Delete</a>
            </li>
            <li class="animate-repeat" ng-if="results.length == 0">
                <strong>No results found...</strong>
            </li>
        </ul>
    </div>
    <div id="post">
        <form ng-controller="todo-post" novalidate name="form" ng-submit="Posttodo()">
            <fieldset>
                <legend>Posting Form</legend>
                Description:
                <input type="text" name="Description" ng-model="fields.Description"  required />
                <span style="color:red" ng-show="submitted && form.description.$invalid && form.description.$error.required">Description is required </span>
                <br />
                Due By:
                <input type="Date" name="Date" ng-model="fields.Date" required />
                <span style="color:red" ng-show="submitted && form.date.$invalid && form.date.$error.required">Date is required </span>
                <br />
                File:
                <input type="file" name="File" ng-model="fields.File" onchange="angular.element(this).scope().fileNameChanged(this)" />
                <br />
                Complete:
                <input type="checkbox" name="Complete" ng-model="fields.Complete" /> 
                <br />
                <input type="submit" ng-click="submitted=true" />
            </fieldset>
        </form>
    </div>
</body>
</html>

